<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Resistance webb app</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- JS, Popper.js, and jQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <script src="https://kit.fontawesome.com/563b0ecf03.js" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

  <script src="{{ url_for('static', filename='js/libs/socket.io.js') }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    <div class="container">

      <div id="game-info">
        <h1 class="display-3 text-center">The online Resistance game!</h1>
        <p>
          To start the game select you name and enter the game!
        </p>
      </div>

      <div id="player-form" class="mt-4">
        <form v-on:submit.prevent>
          <div class="form-group row">
            <label for="playerName" class="col-sm-2 col-form-label">Enter your player Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="playerName" v-model="userName" placeholder="Player name">
            </div>
          </div>
          <div class="row justify-content-center">
            <button v-on:click.once="sendGameName(userName)" class="btn btn btn-outline-danger mb-2">Enter game</button>
          </div>
        </form>
      </div>

      <p><strong>You have entered the game with user name of: </strong> [[ submittedName ]]</p>
      <hr>

      <h2 class="text-info">[[gameState.state]]</h2>

      <div id="game-sequence" class="mt-2">
        <div class="row">
          <div v-if="typeof(gameState.board) != 'undefined'" class="col">
            ROUND: [[gameState.board.round ? gameState.board.round : '']]
          </div>
          <div class="col">
            Resistance Score: [[gameState.resistance_wins]]
          </div>
          <div class="col">
            Spy Score: [[gameState.spy_wins]]
          </div>
          <div v-if="typeof(gameState.board) != 'undefined'"  class="col">
            TEAM VOTE COUNTER: [[gameState.board.team_vote_counter ? gameState.board.team_vote_counter  : '']] / 5
          </div>
          <div v-if="typeof(gameState.board) != 'undefined'"  class="col">
            MISSION TEAM SIZE: [[gameState.board.team_size ? gameState.board.team_size : '']]
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary mb-2">
              <span class="badge badge-light">1</span> Select name and enter game
            </button>
          </div>
          <div class="col">
            <h3>Players online</h3>
            <ul>
              <li v-for="player in gameState.players"><i class="fas fa-user"></i> [[player.name]]</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <button v-on:click.once="startGame()" type="button" class="btn btn-secondary mb-2">
            <span class="badge badge-light">2</span>START GAME
          </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary mb-2">
              <span class="badge badge-light">3</span> Receive a role
            </button>
          </div>
          <div class="col">
            <div class="col">Your role <img v-if="userRole == 'resistance'"
                src="static/img/chuck.jpg"
                class="img-thumbnail"></div>

            <img v-if="userRole == 'spy'"
              src="static/img/scarface.jpg"
              class="img-thumbnail">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-secondary mb-2" @click="suggestTeam()">
            <span class="badge badge-light" >3</span> Team lead design a team
          </button>
        </div>
        <div class="col">Active tema lead is: <span>[[gameState.leader]]</span></div>
      </div>
      <div class="col">
        <form v-on:submit.prevent v-if="gameState.state == 'WAITING FOR TEAM SELECTION' && userName == gameState.leader">
          <!-- <formcontrol></formcontrol> -->
          <button v-for="player in gameState.players" v-bind:class="{red : isActive[player.name], blue : !isActive[player.name]} " @click="toggleActive(player.name)"  id="player.name" aria-label="ASFASDFHASF">[[player.name]]</button>
        </form>
      </div>
      <div class="col">
        MISSION TEAM:
        <ul>
          <li v-for="player in gameState.mission_team"><i class="fas fa-user"></i> [[player]]</li>
        </ul>
      </div>
      <div class="row">
        <div class="col"><button type="button" class="btn btn-secondary mb-2">
            <span class="badge badge-light">4</span> Cast team vote
          </button></div>
        <div class="col"><button @click="teamVote(true)" type="button" class="btn btn-success">Accept tema</button></div>
        <div class="col"><button @click="teamVote(false)" type="button" class="btn btn-danger">Reject team</button></div>
      </div>
      <div class="row">
        <div class="col">
        <button type="button" class="btn btn-secondary mb-2">
          <span class="badge badge-light">5</span> Mission success/fail
          <div class="col"><button @click="missionVote(true)" type="button" class="btn btn-success">Accept tema</button></div>
          <div class="col"><button @click="missionVote(false)" type="button" class="btn btn-danger">Reject team</button></div>
        </button>
      </div>
    </div>
    </div>
  </div>
  </div>
</body>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>


</html>