<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resistance: The Game</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/563b0ecf03.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/libs/socket.io.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="container-fluid">
            <transition name="fade">
                <div class="row" v-if="!submittedName">
                    <div id="enter-game" class='col-md shadow stats-box'>
                        <div id="player-form">
                            <form v-on:submit.prevent>
                                <div class="form-group row name-box justify-content-center ">
                                    <div class="col-sm">
                                        <label for="playerName" class="col-sm text-right col-form-label">Enter your
                                            player
                                            Name</label>
                                    </div>
                                    <div class="col-sm ">
                                        <input type="text" class="form-control" id="playerName" v-model="userName"
                                            placeholder="Player name">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button v-on:click.once="sendGameName(userName)"
                                        class="btn btn btn-outline-danger">Enter
                                        game</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </transition>

            <div class="row ">
                <div id="start-game" class="col shadow zigzag stats-box">
                    <transition name="fade">
                        <div v-if="gameState.state == 'WAITING FOR GAME START'" class="justify-content-center">
                            <div v-if="players.length >=5">
                                <button v-on:click="startGame" type="button" class="btn btn-secondary mb-2">
                                    START GAME
                                </button>
                            </div>
                            <div v-else class="text-center">
                                <p>WAITING FOR PLAYERS (NEED AT LEAST 5)</p>
                            </div>
                        </div>
                        <div v-else>
                            <button v-on:click="resetMatch" type="button" class="btn btn-secondary mb-2">
                                RESET CURRENT MATCH
                            </button>
                            <button v-on:click="resetGame" type="button" class="btn btn-secondary mb-2">
                                RESET ENTIRE GAME
                            </button>
                        </div>
                    </transition>
                </div>
            </div>


            <div class="row">
                <div class="col-md shadow stats-box justify-content-center">
                    <div id="players-in-game" class='row mb-2'>
                        <div class="col text-center">
                            <p class="text-center">Players online: [[ players.length]]</p>
                        </div>
                    </div>
                    <div class='row text-center justify-content-center' v-for="player in gameState.players">
                        <p><i class="fas fa-user"
                                v-bind:class="{'red' : (userRole == 'spy' && player.role == 'spy')}"></i>
                            [[player.name]]</p>
                    </div>
                </div>
                <div class="col-md stats-box shadow">
                    <div class="row justify-content-center">
                        <h4>THE BOARD</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p><b>Round:</b></p>
                        </div>
                        <div class="col-sm">
                            <p>[[gameState.board ? gameState.board.round : '']]</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <p><b>Team Votes:</b></p>
                        </div>
                        <div class="col-sm">
                            <p>[[gameState.board ? gameState.board.team_vote_counter + '/5' : '']] </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <p><b>Your name:</b></p>
                        </div>
                        <div class="col-sm">
                            <p>[[submittedName ? submittedName : 'Waiting for name...']]</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <p><b>Your role:</b></p>
                        </div>
                        <div class="col-sm">
                            <p v-bind:class="{red : userRole == 'spy', blue : userRole == 'resistance'} ">[[userRole ?
                                userRole : 'Waiting for role...']]</p>
                        </div>
                        <div class="col-sm">
                            <img v-if="userRole == 'resistance'" src="/static/img/chuck.jpg" style="height: 80px;">
                            <img v-else-if="userRole == 'spy'" src="/static/img/scarface.jpg" style="height: 80px;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <p><b>Resistance:</b></p>
                        </div>
                        <div class="col-sm">
                            <p>[[gameState.resistance_wins]]</p>
                        </div>
                        <div class="col-sm">
                            <p><b>Spies:</b></p>
                        </div>
                        <div class="col-sm">
                            <p>[[gameState.spy_wins]]</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md stats-box shadow">
                    <div class="row justify-content-center">
                        <h4>GAME STATUS</h4>
                    </div>
                    <div class="row"></div>
                    <div id="console" class='row justify-content-center mb-2'>
                        <div class="col">
                            <div id="game-stats" class='row justify-content-center bg-info'>
                                <p>[[gameState.state]]</p>
                            </div>
                            <div class='row'>
                                <textarea class="form-control" id="message_box" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md mission-box shadow">
                    <div class="row justify-content-center">
                        <h4>MISSION STATUS</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <transition name="bounce">
                                <p>Current Leader: [[gameState.leader ? gameState.leader : '']]</p>
                            </transition>
                        </div>
                        <div class="col-sm">
                            <p>Mission Team</p>
                            <ul>
                                <li v-for="player in gameState.mission_team"><i class="fas fa-user"></i> [[player]]</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Mission Team Size: [[ gameState.board ? gameState.board.team_size : '0']]:</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <transition name="fade">
            <div id="suggest-team" class="row justify-content-center text-center"
                v-if="gameState.state == 'WAITING FOR TEAM SELECTION' && userName == gameState.leader">
                <div class="col">
                    <form v-on:submit.prevent>
                        <button class="btn" v-for="player in gameState.players"
                            v-bind:class="{green : isActive[player.name], gray : !isActive[player.name]} "
                            @click="toggleActive(player.name)" id="player.name"
                            aria-label="ASFASDFHASF">[[player.name]]</button>
                    </form>
                    <button type="button" class="btn btn-secondary m-2 bg-primary" @click="suggestTeam()">
                        SUGGEST TEAM
                    </button>
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div v-if="gameState.state == 'WAITING FOR TEAM SELECTION' && submittedName != gameState.leader"
                class="row justify-content-center"><strong class="bg-info">WAITING FOR GAME LEADER TO SELECT
                    TEAM</strong></div>
        </transition>

        <transition name="fade">
            <div v-if="gameState.state == 'WAITING FOR TEAM VOTES'" id="team-vote" class="">
                <div class="row">
                    <div class="col text-center">
                        <p>Team votes submitted: [[gameState.team_votes]]/[[players.length]]</p>
                    </div>
                </div>
                <div id="team-vote-submit" class="mt-2 mb-3">
                    <form v-on:submit.prevent>
                        <div class="row justify-content-around">
                            <button @click="teamVote(true)" type="button" class="btn btn-outline-success">Accept
                                Team</button>
                            <button @click="teamVote(false)" type="button" class="btn btn-outline-danger">Reject
                                Team</button>
                        </div>
                    </form>
                    <div class="row justify-content-center">
                        <div v-if="gameState.leader == submittedName && gameState.team_votes == players.length">
                            <button @click="revealMissionTeamVoteResult()" type="button" class="btn btn-outline-info">Reveal result!</button>
                        </div>
                        <div v-if="gameState.leader != submittedName && gameState.team_votes == players.length">
                            <p>All votes are in!! Wait for team leader to reveal result!</p>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div v-if="gameState.state == 'WAITING FOR SUCCESS VOTES'" id="mission-vote" class="mt-2 mb-4">
                <div class="row">
                    <div class="col text-center"><span>Mission votes submitted:
                        [[gameState.success_votes]]/[[gameState.board.team_size]]</span></div></div>
                <div v-if="playerInMission()">
                    <div id="mission-vote-submit">
                        <form v-on:submit.prevent>
                            <div class="row justify-content-around">
                                <button type="button" @click="missionVote(true)"
                                    class="btn btn-outline-success">Success!</button>
                                <button type="button" @click="missionVote(false)"
                                    class="btn btn-outline-danger">Sabotage!</button>
                            </div>
                        </form>
                    </div>
                </div>


                <div v-if="!playerInMission()">
                    <div class="row justify-content-center"><strong class="bg-info">WAITING FOR MISSION
                            VOTES</strong>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div v-if="gameState.leader == submittedName && gameState.success_votes == gameState.mission_team.length">
                        <button @click="revealMissionResult()" type="button" class="btn btn-outline-info">Reveal result!</button>
                    </div>
                    <div v-if="gameState.leader != submittedName && gameState.success_votes == gameState.mission_team.length">
                        <p>All votes are in!! Wait for team leader to reveal result!</p>
                    </div>
                </div>

            </div>
        </transition>
    </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>