.img-thumbnail {
  max-width: 20%;
  max-height:100px;
}

ul {
  list-style: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.shadow {
  box-shadow: 5px 10px 8px #888888;
}

.name-box{
  width: 50%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.stats-box {
  border-color: hotpink;
  /* border-style: dashed; */
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1em;
  margin-right: 1em;
  border-width: 0.25em;
  padding: 1em 2em 2em 2em;
}

.zigzag {
  background:
  linear-gradient(45deg, #ff000080 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #ff000080 45px, transparent 45px,transparent 91px, #1100ff80 91px, #1100ff80 135px, transparent 135px),
  linear-gradient(-45deg, #ff000080 23px, transparent 23px, transparent 68px,#ff000080 68px,#ff000080 113px,transparent 113px,transparent 158px,#1100ff80 158px);
  background-color:#1100ff80;
  background-size: 128px 128px;
  font-weight: 800;
  color: #ECEDDC;
}

.mission-box {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1em;
  margin-right: 1em;
  border-width: 0.25em;
  padding: 1em 2em 2em 2em;
}